parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 8
			path: config/oci-driver.php

		-
			message: '#^Parameter \#1 \$directory of method Illuminate\\Filesystem\\FilesystemAdapter\:\:files\(\) expects string\|null, array\|string\|true given\.$#'
			identifier: argument.type
			count: 1
			path: src/Commands/LaravelOciDriverCommand.php

		-
			message: '#^Part \$bucket \(non\-empty\-array\|non\-falsy\-string\|true\) of encapsed string cannot be cast to string\.$#'
			identifier: encapsedStringPart.nonString
			count: 1
			path: src/Commands/LaravelOciDriverCommand.php

		-
			message: '#^Parameter \#1 \$finfo of function finfo_buffer expects finfo, finfo\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/OciAdapter.php

		-
			message: '#^Parameter \#2 \$string of function finfo_buffer expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/OciAdapter.php

		-
			message: '#^Parameter \#4 \$body of method LaravelOCI\\LaravelOciDriver\\OciClient\:\:send\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 2
			path: src/OciAdapter.php

		-
			message: '#^Parameter \#4 \$lastModified of class League\\Flysystem\\FileAttributes constructor expects int\|null, int\|false\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/OciAdapter.php

		-
			message: '#^Parameter \#5 \$contentType of method LaravelOCI\\LaravelOciDriver\\OciClient\:\:send\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/OciAdapter.php

		-
			message: '#^Parameter \$lastModified of class League\\Flysystem\\FileAttributes constructor expects int\|null, float\|int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: src/OciAdapter.php

		-
			message: '#^Method LaravelOCI\\LaravelOciDriver\\OciClient\:\:__construct\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/OciClient.php

		-
			message: '#^Method LaravelOCI\\LaravelOciDriver\\OciClient\:\:createWithConfiguration\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/OciClient.php

		-
			message: '#^Method LaravelOCI\\LaravelOciDriver\\OciClient\:\:getAuthorizationHeaders\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/OciClient.php

		-
			message: '#^Method LaravelOCI\\LaravelOciDriver\\OciClient\:\:send\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/OciClient.php

		-
			message: '#^Method LaravelOCI\\LaravelOciDriver\\OciClient\:\:send\(\) has parameter \$header with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/OciClient.php

		-
			message: '#^Parameter \#4 \$body of method LaravelOCI\\LaravelOciDriver\\OciClient\:\:send\(\) expects string\|null, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/OciClient.php

		-
			message: '#^Parameter \#4 \$contentType of method LaravelOCI\\LaravelOciDriver\\OciClient\:\:getAuthorizationHeaders\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/OciClient.php

		-
			message: '#^Cannot access offset ''key'' on array\|false\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Signer.php

		-
			message: '#^Method LaravelOCI\\LaravelOciDriver\\Signer\:\:getHeadersToSign\(\) should return array\<string, string\> but returns array\<string, int\|string\|null\>\.$#'
			identifier: return.type
			count: 1
			path: src/Signer.php

		-
			message: '#^Method LaravelOCI\\LaravelOciDriver\\Signer\:\:getPrivateKey\(\) should return string\|null but returns string\|false\.$#'
			identifier: return.type
			count: 2
			path: src/Signer.php

		-
			message: '#^Parameter \#1 \$key of function openssl_pkey_get_details expects OpenSSLAsymmetricKey, OpenSSLAsymmetricKey\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Signer.php

		-
			message: '#^Parameter \#1 \$string of function strlen expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Signer.php

		-
			message: '#^Parameter \#2 \$data of function hash expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Signer.php

		-
			message: '#^Parameter \#2 \$privateKey of method LaravelOCI\\LaravelOciDriver\\Signer\:\:calculateSignature\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/Signer.php

		-
			message: '#^Parameter \#3 \$private_key of function openssl_sign expects array\|OpenSSLAsymmetricKey\|OpenSSLCertificate\|string, OpenSSLAsymmetricKey\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Signer.php

		-
			message: '#^Property LaravelOCI\\LaravelOciDriver\\Signer\:\:\$headersToSign \(array\<string, string\>\) does not accept array\<string, int\|string\|null\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Signer.php

		-
			message: '#^Call to an undefined method Pest\\PendingCalls\\TestCall\:\:expect\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/ArchTest.php

		-
			message: '#^Call to an undefined method PHPUnit\\Framework\\TestCase\:\:artisan\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/CommandTest.php

		-
			message: '#^Function createTestOciClient\(\) has parameter \$overrides with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/OciClientTest.php
